.pokemon {
    width: 140px;
    height: 140px;
    border: 1px solid black;
    margin: 6px;
    padding: 0;
    float: left;
}

#bottom-nav {
    clear: both;
}

.main, .pokemon_details {
    width: 50%;
    float: left;
}